Repository HEIG-Boom/heigvd-pro-a-02-SiTR, pull requests merged in 2019-04, with the labels that each got.

#64 Added back App.java, minor comments refactor
  src/main/java/ch/heigvd/sitr/App.java
  src/main/java/ch/heigvd/sitr/vehicle/Vehicle.java
  src/main/java/ch/heigvd/sitr/vehicle/VehicleController.java
  src/test/java/ch/heigvd/sitr/vehicle/VehicleControllerTest.java
  src/test/java/ch/heigvd/sitr/vehicle/VehicleTest.java
Labels: Vehicle

#73 Refactor and comment code + panels as package-private
  src/main/java/ch/heigvd/sitr/gui/settings/SettingsPanel.java
  src/main/java/ch/heigvd/sitr/gui/settings/SettingsWindow.java
  src/main/java/ch/heigvd/sitr/gui/simulation/CarControlPanel.java
  src/main/java/ch/heigvd/sitr/gui/simulation/Displayer.java
  src/main/java/ch/heigvd/sitr/gui/simulation/MapPanel.java
  src/main/java/ch/heigvd/sitr/gui/simulation/SimControlPanel.java
  src/main/java/ch/heigvd/sitr/gui/simulation/SimulationWindow.java
Labels: GUI

#66 Start of overarching model
  src/main/java/ch/heigvd/sitr/model/ScenarioType.java
  src/main/java/ch/heigvd/sitr/model/Simulation.java
  src/main/java/ch/heigvd/sitr/model/VehicleBehaviourType.java
  src/main/java/ch/heigvd/sitr/model/VehicleControllerType.java
  src/test/java/ch/heigvd/sitr/model/ScenarioTypeTest.java
  src/test/java/ch/heigvd/sitr/model/SimulationTest.java
  src/test/java/ch/heigvd/sitr/model/VehicleBehaviourTypeTest.java
  src/test/java/ch/heigvd/sitr/model/VehicleControllerTypeTest.java
Labels: Model

#79 Switching across windows and preserve settings window
  src/main/java/ch/heigvd/sitr/gui/settings/SettingsWindow.java
  src/main/java/ch/heigvd/sitr/gui/simulation/SimControlPanel.java
  src/main/java/ch/heigvd/sitr/gui/simulation/SimulationWindow.java
Labels: GUI

#85 Settings windows works with the differents enum types
  src/main/java/ch/heigvd/sitr/gui/settings/SettingsPanel.java
Labels: GUI

#90 More natural enum representation, french gui
  src/main/java/ch/heigvd/sitr/App.java
  src/main/java/ch/heigvd/sitr/model/ScenarioType.java
  src/main/java/ch/heigvd/sitr/model/Simulation.java
  src/main/java/ch/heigvd/sitr/model/VehicleBehaviourType.java
  src/main/java/ch/heigvd/sitr/model/VehicleControllerType.java
  src/test/java/ch/heigvd/sitr/model/ScenarioTypeTest.java
  src/test/java/ch/heigvd/sitr/model/VehicleBehaviourTypeTest.java
  src/test/java/ch/heigvd/sitr/model/VehicleControllerTypeTest.java
Labels: Model

#91 Fix paths to config and data files in enums
  src/main/java/ch/heigvd/sitr/model/ScenarioType.java
  src/main/java/ch/heigvd/sitr/model/VehicleControllerType.java
  src/test/java/ch/heigvd/sitr/model/ScenarioTypeTest.java
  src/test/java/ch/heigvd/sitr/model/VehicleControllerTypeTest.java
Labels: Model

#95 Implement VehicleRenderer
  src/main/java/ch/heigvd/sitr/gui/settings/SettingsPanel.java
  src/main/java/ch/heigvd/sitr/model/Simulation.java
  src/main/java/ch/heigvd/sitr/vehicle/Renderable.java
  src/main/java/ch/heigvd/sitr/vehicle/Vehicle.java
  src/main/java/ch/heigvd/sitr/vehicle/VehicleRenderer.java
  src/test/java/ch/heigvd/sitr/vehicle/VehicleRendererTest.java
  src/test/java/ch/heigvd/sitr/vehicle/VehicleTest.java
Labels: GUI, Model, Vehicle

#99 Vehicle config
  src/main/java/ch/heigvd/sitr/model/Simulation.java
  src/main/java/ch/heigvd/sitr/vehicle/Vehicle.java
  src/main/java/ch/heigvd/sitr/vehicle/VehicleController.java
  src/main/resources/vehicle/regular.xml
  src/test/java/ch/heigvd/sitr/vehicle/VehicleControllerTest.java
  src/test/java/ch/heigvd/sitr/vehicle/VehicleTest.java
  src/test/resources/vehicle/regular.xml
Labels: Model, Vehicle

#104 Getters for settings are OP
  src/main/java/ch/heigvd/sitr/gui/settings/SettingsPanel.java
  src/main/java/ch/heigvd/sitr/gui/settings/SettingsWindow.java
Labels: GUI

#106 Made the bridge between the settings window and the simulation
  pom.xml
  src/main/java/ch/heigvd/sitr/gui/settings/SettingsPanel.java
  src/main/java/ch/heigvd/sitr/model/ScenarioType.java
  src/main/java/ch/heigvd/sitr/model/Simulation.java
  src/main/java/ch/heigvd/sitr/model/VehicleControllerType.java
  src/main/java/ch/heigvd/sitr/vehicle/VehicleController.java
  src/test/java/ch/heigvd/sitr/model/SimulationTest.java
  src/test/java/ch/heigvd/sitr/model/VehicleControllerTypeTest.java
  src/test/java/ch/heigvd/sitr/vehicle/VehicleControllerTest.java
  src/test/java/ch/heigvd/sitr/vehicle/VehicleTest.java
Labels: Simulation

#107 Simple road implemented
  pom.xml
  src/main/java/ch/heigvd/sitr/map/Lane.java
  src/main/java/ch/heigvd/sitr/map/LaneSegment.java
  src/main/java/ch/heigvd/sitr/map/RoadNetwork.java
  src/main/java/ch/heigvd/sitr/map/RoadSegment.java
  src/main/java/ch/heigvd/sitr/map/graphics/PaintRoadMapping.java
  src/main/java/ch/heigvd/sitr/map/graphics/Renderable.java
  src/main/java/ch/heigvd/sitr/map/graphics/RoadNetworkRenderer.java
  src/main/java/ch/heigvd/sitr/map/input/OpenDriveHandler.java
  src/main/java/ch/heigvd/sitr/map/input/OpenDriveUnmarshaller.java
  src/main/java/ch/heigvd/sitr/map/roadmappings/LaneGeometries.java
  src/main/java/ch/heigvd/sitr/map/roadmappings/PosTheta.java
  src/main/java/ch/heigvd/sitr/map/roadmappings/RoadGeometry.java
  src/main/java/ch/heigvd/sitr/map/roadmappings/RoadMapping.java
  src/main/java/ch/heigvd/sitr/map/roadmappings/RoadMappingLine.java
  src/main/java/ch/heigvd/sitr/map/roadmappings/RoadMappingUtils.java
  src/main/java/ch/heigvd/sitr/model/Simulation.java
  src/main/resources/map/OpenDRIVE_1.3.xsd
  src/main/resources/map/OpenDRIVE_1.4.xsd
  src/main/resources/map/globalBinding.xjc
  src/main/resources/map/openDriveBinding.xjc
  src/main/resources/map/simulation/offramp.xodr
  src/main/resources/map/simulation/offramp_v2.xodr
  src/main/resources/map/simulation/simple_road.xodr
  src/test/java/ch/heigvd/sitr/map/LaneTest.java
  src/test/java/ch/heigvd/sitr/map/LineTest.java
  src/test/java/ch/heigvd/sitr/map/RoadNetworkTest.java
  src/test/java/ch/heigvd/sitr/map/RoadTest.java
Labels: Map
