Repository HEIG-Boom/heigvd-pro-a-02-SiTR, pull requests merged in 2019-05, with the labels that each got.

#117 add a model Ring Road fixes #115
  src/main/java/ch/heigvd/sitr/map/graphics/PaintRoadMapping.java
  src/main/java/ch/heigvd/sitr/map/roadmappings/RoadMappingArc.java
  src/main/java/ch/heigvd/sitr/map/roadmappings/RoadMappingUtils.java
  src/main/resources/map/simulation/ringRoad.xodr
Labels: Map

#108 itinerary
  src/main/java/ch/heigvd/sitr/model/ScenarioType.java
  src/main/java/ch/heigvd/sitr/model/Simulation.java
  src/main/java/ch/heigvd/sitr/vehicle/ItineraryPath.java
  src/main/java/ch/heigvd/sitr/vehicle/Vehicle.java
  src/main/java/ch/heigvd/sitr/vehicle/VehicleRenderer.java
  src/test/java/ch/heigvd/sitr/model/SimulationTest.java
  src/test/java/ch/heigvd/sitr/vehicle/ItineraryPathTest.java
  src/test/java/ch/heigvd/sitr/vehicle/VehicleControllerTest.java
  src/test/java/ch/heigvd/sitr/vehicle/VehicleTest.java
  src/test/resources/map/OpenDRIVE_1.3.xsd
  src/test/resources/map/OpenDRIVE_1.4.xsd
  src/test/resources/map/globalBinding.xjc
  src/test/resources/map/openDriveBinding.xjc
  src/test/resources/map/simulation/offramp.xodr
  src/test/resources/map/simulation/offramp_v2.xodr
  src/test/resources/map/simulation/simple_road.xodr
Labels: Simulation, Vehicle

#116 New Simulation button is op
  src/main/java/ch/heigvd/sitr/gui/settings/SettingsPanel.java
  src/main/java/ch/heigvd/sitr/gui/settings/SettingsWindow.java
  src/main/java/ch/heigvd/sitr/gui/simulation/SimControlPanel.java
  src/main/java/ch/heigvd/sitr/gui/simulation/SimulationWindow.java
  src/main/java/ch/heigvd/sitr/model/Simulation.java
Labels: GUI

#126 Implementation of setters for the statistics label
  src/main/java/ch/heigvd/sitr/gui/simulation/SimControlPanel.java
  src/main/java/ch/heigvd/sitr/gui/simulation/SimulationWindow.java
Labels: GUI, Stats

#134 Traffic generation upgrade
  src/main/java/ch/heigvd/sitr/model/Simulation.java
  src/main/java/ch/heigvd/sitr/vehicle/Vehicle.java
Labels: Simulation

#132 Clickable car implemented according to Observer pattern
  src/main/java/ch/heigvd/sitr/gui/simulation/CarControlPanel.java
  src/main/java/ch/heigvd/sitr/gui/simulation/MapPanel.java
  src/main/java/ch/heigvd/sitr/gui/simulation/SimulationWindow.java
  src/main/java/ch/heigvd/sitr/vehicle/Vehicle.java
  src/main/java/ch/heigvd/sitr/vehicle/VehicleRenderer.java
Labels: GUI, Vehicle

#136 Added a bit of color in our gloom world
  src/main/java/ch/heigvd/sitr/model/Simulation.java
  src/main/java/ch/heigvd/sitr/model/VehicleControllerType.java
  src/main/java/ch/heigvd/sitr/vehicle/Vehicle.java
  src/main/java/ch/heigvd/sitr/vehicle/VehicleController.java
  src/main/java/ch/heigvd/sitr/vehicle/VehicleRenderer.java
Labels: Simulation, Vehicle

#138 Handle accidents
  src/main/java/ch/heigvd/sitr/vehicle/Vehicle.java
  src/main/resources/vehicleController/reckless.xml
Labels: Simulation, Vehicle, bug

#145 Fix bug where acceleration would build up during pause
  src/main/java/ch/heigvd/sitr/gui/simulation/SimControlPanel.java
  src/main/java/ch/heigvd/sitr/model/Simulation.java
  src/main/java/ch/heigvd/sitr/model/VehicleControllerType.java
Labels: bug

#146 Scenario eight
  src/main/java/ch/heigvd/sitr/model/Scenario.java
  src/main/resources/map/simulation/eight.xodr
Labels: Map

#143 [TOREVIEW] Car control panel can modify the vehicle
  src/main/java/ch/heigvd/sitr/gui/simulation/CarControlPanel.java
  src/main/java/ch/heigvd/sitr/gui/simulation/MapPanel.java
  src/main/java/ch/heigvd/sitr/gui/simulation/SimControlPanel.java
  src/main/java/ch/heigvd/sitr/model/Simulation.java
  src/main/java/ch/heigvd/sitr/vehicle/Vehicle.java
Labels: GUI, Vehicle

#147 Fix font to harmonize GUI for unix user
  src/main/java/ch/heigvd/sitr/App.java
  src/main/java/ch/heigvd/sitr/gui/simulation/MapPanel.java
  src/main/java/ch/heigvd/sitr/gui/simulation/SimControlPanel.java
  src/main/java/ch/heigvd/sitr/model/Simulation.java
  src/main/java/ch/heigvd/sitr/vehicle/Vehicle.java
Labels: GUI

#149 Fb refactor ccp
  src/main/java/ch/heigvd/sitr/gui/simulation/CarControlPanel.java
  src/main/java/ch/heigvd/sitr/vehicle/Vehicle.java
Labels: GUI, Vehicle

#155 SCP offers a stats generator button, correction of label
  src/main/java/ch/heigvd/sitr/gui/simulation/SimControlPanel.java
Labels: GUI, Stats

#156 Statistics implemented
  src/main/java/ch/heigvd/sitr/gui/simulation/CarControlPanel.java
  src/main/java/ch/heigvd/sitr/gui/simulation/SimControlPanel.java
  src/main/java/ch/heigvd/sitr/gui/simulation/SimulationWindow.java
  src/main/java/ch/heigvd/sitr/model/Simulation.java
  src/main/java/ch/heigvd/sitr/model/VehicleBehaviour.java
  src/main/java/ch/heigvd/sitr/statistics/Statistics.java
  src/main/java/ch/heigvd/sitr/vehicle/Vehicle.java
  statistics/GeneralStatistics.csv
  statistics/vehicles/20190515230325446.csv
Labels: Stats

#154 Vehicle can draw its path
  src/main/java/ch/heigvd/sitr/gui/simulation/CarControlPanel.java
  src/main/java/ch/heigvd/sitr/gui/simulation/DrawnPath.java
  src/main/java/ch/heigvd/sitr/gui/simulation/MapPanel.java
  src/main/java/ch/heigvd/sitr/vehicle/Vehicle.java
Labels: GUI, Vehicle

#153 Vehicle follow arcs
  src/main/java/ch/heigvd/sitr/map/graphics/PaintRoadMapping.java
  src/main/java/ch/heigvd/sitr/map/roadmappings/AngleAndPos.java
  src/main/java/ch/heigvd/sitr/map/roadmappings/RoadMapping.java
  src/main/java/ch/heigvd/sitr/map/roadmappings/RoadMappingArc.java
  src/main/java/ch/heigvd/sitr/map/roadmappings/RoadMappingLine.java
  src/main/java/ch/heigvd/sitr/vehicle/ItineraryPath.java
  src/main/java/ch/heigvd/sitr/vehicle/Vehicle.java
  src/main/java/ch/heigvd/sitr/vehicle/VehicleRenderer.java
  src/main/resources/map/simulation/ring_road.xodr
  src/test/java/ch/heigvd/sitr/vehicle/ItineraryPathTest.java
  src/test/java/ch/heigvd/sitr/vehicle/VehicleControllerTest.java
  src/test/java/ch/heigvd/sitr/vehicle/VehicleTest.java
Labels: Map, Simulation, Vehicle

#159 Implementation of the vehicle wait time
  src/main/java/ch/heigvd/sitr/gui/simulation/CarControlPanel.java
  src/main/java/ch/heigvd/sitr/model/Simulation.java
  src/main/java/ch/heigvd/sitr/statistics/Statistics.java
  src/main/java/ch/heigvd/sitr/vehicle/Vehicle.java
  statistics/GeneralStatistics.csv
  statistics/vehicles/20190515230325446.csv
  statistics/vehicles/20190515232222083.csv
  statistics/vehicles/20190515232324322.csv
Labels: Stats

#160 Implement vehicle behaviours
  .gitignore
  .travis.yml
  src/main/java/ch/heigvd/sitr/App.java
  src/main/java/ch/heigvd/sitr/gui/simulation/SimulationWindow.java
  src/main/java/ch/heigvd/sitr/model/Scenario.java
  src/main/java/ch/heigvd/sitr/model/Simulation.java
  src/main/java/ch/heigvd/sitr/model/VehicleBehaviour.java
  src/main/java/ch/heigvd/sitr/statistics/Statistics.java
  src/main/java/ch/heigvd/sitr/vehicle/ItineraryPath.java
  src/main/java/ch/heigvd/sitr/vehicle/Vehicle.java
  src/test/java/ch/heigvd/sitr/model/VehicleBehaviourTest.java
  src/test/java/ch/heigvd/sitr/vehicle/VehicleTest.java
Labels: Simulation

#166 fix ring road visually
  src/main/java/ch/heigvd/sitr/map/graphics/PaintRoadMapping.java
Labels: enhancement

#167 Sim takes into account the maximum number of vehicles
  src/main/java/ch/heigvd/sitr/gui/settings/SettingsPanel.java
  src/main/java/ch/heigvd/sitr/model/Scenario.java
Labels: Vehicle

#169 Refactor map files
  src/main/java/ch/heigvd/sitr/map/Lane.java
  src/main/java/ch/heigvd/sitr/map/LaneSegment.java
  src/main/java/ch/heigvd/sitr/map/RoadNetwork.java
  src/main/java/ch/heigvd/sitr/map/RoadSegment.java
  src/main/java/ch/heigvd/sitr/map/graphics/PaintRoadMapping.java
  src/main/java/ch/heigvd/sitr/map/graphics/RoadNetworkRenderer.java
  src/main/java/ch/heigvd/sitr/map/input/OpenDriveHandler.java
  src/main/java/ch/heigvd/sitr/map/input/OpenDriveUnmarshaller.java
  src/main/java/ch/heigvd/sitr/map/roadmappings/AngleAndPos.java
  src/main/java/ch/heigvd/sitr/map/roadmappings/LaneGeometries.java
  src/main/java/ch/heigvd/sitr/map/roadmappings/RoadGeometry.java
  src/main/java/ch/heigvd/sitr/map/roadmappings/RoadMapping.java
  src/main/java/ch/heigvd/sitr/map/roadmappings/RoadMappingArc.java
  src/main/java/ch/heigvd/sitr/map/roadmappings/RoadMappingLine.java
  src/main/java/ch/heigvd/sitr/map/roadmappings/RoadMappingUtils.java
Labels: enhancement

#170 Translate statistics files in French
  src/main/java/ch/heigvd/sitr/statistics/Statistics.java
Labels: Stats

#172 Cleanup model, vehicle and utils packages
  README.md
  src/main/java/ch/heigvd/sitr/model/Scenario.java
  src/main/java/ch/heigvd/sitr/utils/Renderable.java
  src/main/java/ch/heigvd/sitr/vehicle/VehicleRenderer.java
Labels: Simulation, enhancement

#171 Reformat code for GUI Files
  src/main/java/ch/heigvd/sitr/gui/settings/SettingsWindow.java
  src/main/java/ch/heigvd/sitr/gui/simulation/CarControlPanel.java
  src/main/java/ch/heigvd/sitr/gui/simulation/MapPanel.java
Labels: GUI
